<a href="https://colab.research.google.com/github/lianbelian/TUGAS-PAK-PRAYIT-ALGOPRO/blob/main/praktikum%2007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 – Tuple: Data Tetap

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Praktikum 02 – Dictionary Dasar

In [ ]:
mahasiswa = {
    "nama": "andi",
    "nim": "20251001",
    "prodi": "TRK"
}
print("Nama:", mahasiswa["nama"])
print("NIM:", mahasiswa["nim"])
print("Program Studi:", mahasiswa["prodi"])

Nama: andi
NIM: 20251001
Program Studi: TRK

Praktikum 03 – Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "nama": "andi",
    "nim": "20251001",
    "prodi": "TRK"
}

mahasiswa ["umur"] = 20
mahasiswa["prodi"] = "Teknik Komputer"
del mahasiswa["umur"]

print(mahasiswa)

{'nama': 'andi', 'nim': '20251001', 'prodi': 'Teknik Komputer'}

Praktikum 04 – Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", B - A)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {5, 6}

Praktikum 05 – Studi Kasus: Mata Kuliah

In [ ]:
mhs1={"Algoritma","Matematika","Bahasa Inggris"}
mhs2={"Algoritma","Basis Data","Matematika"}

print("Mata kuliah Mhs1 = ", mhs1)
print("Mata kuliah Mhs2 = ", mhs2)
print("Mata kuliah yang sama = ", mhs1 & mhs2)

Mata kuliah Mhs1 =  {'Algoritma', 'Bahasa Inggris', 'Matematika'}
Mata kuliah Mhs2 =  {'Basis Data', 'Algoritma', 'Matematika'}
Mata kuliah yang sama =  {'Matematika', 'Algoritma'}

Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Dari {len(nilai_mahasiswa)} Mahasiswa tersebut memiliki rata-rata {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Dari 3 Mahasiswa tersebut memiliki rata-rata 81.67

**PENUGASAN**

- Tuple Sederhana

In [3]:
identitas = ("lian", 18, "TRK")
print("nama = ", identitas[0])
print("umur = ", identitas[1])
print("prodi = ", identitas[2])

nama =  lian
umur =  18
prodi =  TRK

- Tuple Tidak Bisa Diubah

In [5]:
nilai = (1, 2, 3)
nilai[1] = 7
print(nilai)

TypeError: 'tuple' object does not support item assignment

- Dictionary Dasar

In [6]:
buku = {
    "judul": "Algoritma",
    "penulis": "Munir",
    "tahun_terbit": 2021
}

print("Judul = ", buku["judul"])
print("Penulis = ", buku["penulis"])
print("Tahun Terbit = ", buku["tahun_terbit"])

Judul =  Algoritma
Penulis =  Munir
Tahun Terbit =  2021

- Operasi Dictionary

In [7]:
data_dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}
data_dosen ["Umur"] = 40
data_dosen ["Prodi"] = "Teknik Komputer"
del data_dosen ["Umur"]

print(data_dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

- Set dan Himpunan

In [10]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union = ", A | B)
print("Intersection = ", A & B)
print("Difference = ", A - B)

Union =  {'Matematika', 'Algoritma', 'Bahasa Inggris', 'Basis Data'}
Intersection =  {'Algoritma', 'Matematika'}
Difference =  {'Bahasa Inggris'}

- Studi Kasus Dictionary

In [ ]:
nilai_mahasiswa = {"Andi": 85, "Budi": 90, "Cici": 78}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Dari {len(nilai_mahasiswa)} Mahasiswa tersebut memiliki rata-rata {rata:.2f}")