<a href="https://colab.research.google.com/github/lianbelian/TUGAS-PAK-PRAYIT-ALGOPRO/blob/main/praktikum%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Sederhana

In [ ]:
nilai = int(input("masukkan nilai ujian = "))
if nilai >= 60:
    print("ANDA LULUS")

masukkan nilai ujian = 70
ANDA LULUS

If-Else

In [ ]:
nilai = int(input("masukkan nilai ujian = "))
if nilai >= 60:
  print("ANDA LULUS")
else:
  print("ANDA TIDAK LULUS")

masukkan nilai ujian = 50
ANDA TIDAK LULUS

If-Elif-Else

In [ ]:
nilai = int(input("masukkan nilai akhir = "))

if nilai >= 85:
  grade = "A"
elif nilai >= 70:
  grade = "B"
elif nilai >= 55:
  grade = "C"
elif nilai >= 40:
  grade = "D"
else:
  grade = "E"

print(f"nilai anda {nilai}, maka grade anda = {grade}")

masukkan nilai akhir = 78
nilai anda 78, maka grade anda = B

Nested IF

-(Beasiswa)

In [ ]:
ipk = float(input("masukkan IPK = "))
sks = int(input("masukkan jumlah SKS = "))

if ipk >= 3.0:
  if sks >= 18:
    print("ANDA LAYAK MENDAPAT BEASISWA ")
  else:
    print("IPK MEMENUHI, TAPI SKS KURANG")
else:
  print("ANDA TIDAK LAYAK MENDAPAT BEASISWA")

masukkan IPK = 3.2
masukkan jumlah SKS = 20
ANDA LAYAK MENDAPAT BEASISWA

-(Beasiswa, gagal SKS)

In [ ]:
ipk = float(input("masukkan IPK = "))
sks = int(input("masukkan jumlah SKS = "))

if ipk >= 3.0:
  if sks >= 18:
    print("ANDA LAYAK MENDAPAT BEASISWA ")
  else:
    print("IPK MEMENUHI, TAPI SKS KURANG")
else:
  print("ANDA TIDAK LAYAK MENDAPAT BEASISWA")

masukkan IPK = 3.2
masukkan jumlah SKS = 16
IPK MEMENUHI, TAPI SKS KURANG

-(Beasiswa, gagal IPK)

In [ ]:
ipk = float(input("masukkan IPK = "))
sks = int(input("masukkan jumlah SKS = "))

if ipk >= 3.0:
  if sks >= 18:
    print("ANDA LAYAK MENDAPAT BEASISWA ")
  else:
    print("IPK MEMENUHI, TAPI SKS KURANG")
else:
  print("ANDA TIDAK LAYAK MENDAPAT BEASISWA")

masukkan IPK = 2.8
masukkan jumlah SKS = 20
ANDA TIDAK LAYAK MENDAPAT BEASISWA

Match-Case

-(Input benar)

In [ ]:
menu = int(input("pilih menu (1-3) = "))

match menu:
  case 1:
    print("ANDA MEMILIH NASI GORENG")
  case 2:
    print("ANDA MEMILIH MIE AYAM")
  case 3:
    print("ANDA MELIH SOTO AYAM")
  case _:
    print("MENU TIDAK TERSEDIA")

pilih menu (1-3) = 2
ANDA MEMILIH MIE AYAM

-(Input salah)

In [ ]:
menu = int(input("pilih menu (1-3) = "))

match menu:
  case 1:
    print("ANDA MEMILIH NASI GORENG")
  case 2:
    print("ANDA MEMILIH MIE AYAM")
  case 3:
    print("ANDA MELIH SOTO AYAM")
  case _:
    print("MENU TIDAK TERSEDIA")

pilih menu (1-3) = 9
MENU TIDAK TERSEDIA

Program Kasir

In [ ]:
barang = input("masukkan nama barang= ")
harga = float(input("masukkan harga barang= "))
jumlah = int(input("masukkan jumlah barang= "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== struk belanja =====")
print(f"barang : {barang}")
print(f"jumlah : {jumlah}")
print(f"total : Rp {total}")
print(f"diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

masukkan nama barang= buku
masukkan harga barang= 60000
masukkan jumlah barang= 5

===== struk belanja =====
barang : buku
jumlah : 5
total : Rp 300000.0
diskon : 10.0%
bayar : Rp 270000.0

-(diskon 20%)

In [ ]:
barang = input("masukkan nama barang= ")
harga = float(input("masukkan harga barang= "))
jumlah = int(input("masukkan jumlah barang= "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== struk belanja =====")
print(f"barang : {barang}")
print(f"jumlah : {jumlah}")
print(f"total : Rp {total}")
print(f"diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

masukkan nama barang= tas
masukkan harga barang= 200000
masukkan jumlah barang= 3

===== struk belanja =====
barang : tas
jumlah : 3
total : Rp 600000.0
diskon : 20.0%
bayar : Rp 480000.0

-(Tanpa diskon)

In [ ]:
barang = input("masukkan nama barang= ")
harga = float(input("masukkan harga barang= "))
jumlah = int(input("masukkan jumlah barang= "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== struk belanja =====")
print(f"barang : {barang}")
print(f"jumlah : {jumlah}")
print(f"total : Rp {total}")
print(f"diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

masukkan nama barang= pulpen
masukkan harga barang= 5000
masukkan jumlah barang= 10

===== struk belanja =====
barang : pulpen
jumlah : 10
total : Rp 50000.0
diskon : 0%
bayar : Rp 50000.0

**PENUGASAN**

Cek Bilangan Positif/Negatif/Nol

In [ ]:
a = int(input("masukkan angka = "))

if a > 0:
  print("bilangan positif")
elif a < 0:
  print("bilangan negatif")
else:
  print("bilangan anda nol")

masukkan angka = -4
bilangan negatif

Menentukan Kategori Usia

In [ ]:
usia = int(input("masukkan usia anda = "))

if usia < 5:
  print("balita")
elif usia >= 5 and usia <= 11:
  print("anak anak")
elif usia >= 12 and usia <= 17:
  print("remaja")
elif usia >= 18 and usia <= 59:
  print ("dewasa")
else:
  print("lansia")

masukkan usia anda = 70
lansia

Hitung Tarif Parkir

In [ ]:
lama_parkir = int(input("masukkan berapa lama anda parkir (jam) = "))

if lama_parkir <= 2:
  print("bayar 5000")
elif lama_parkir > 2 and lama_parkir <= 9:
  bayar_lebih = (5000 + (lama_parkir - 2) * 2000)
  print(f"bayar {bayar_lebih}")
else:
  print("bayar 20000")

masukkan berapa lama anda parkir (jam) = 5
bayar 11000

Cek Login Sederhana

In [ ]:
username = input("masukkan username = ")
password = input("masukkan password = ")

if username == "admin":
  if password == "1234":
    print("login berhasil")
  else:
    print("password anda salah")
else:
  print("username atau password mungkin salah")

masukkan username = admin
masukkan password = 123
password anda salah

One-Liner If (Cek Genap/Ganjil)

In [1]:
x = int(input("masukkan angka = "))

hasil = "genap" if x % 2 == 0 else "ganjil"
print(f"bilangan {x} adalah {hasil}")

masukkan angka = 7
bilangan 7 adalah ganjil

Menu Restoran dengan Match-Case

In [2]:
menu = int(input("pilih menu (1-3) = "))

match menu:
  case 1:
    print("ANDA MEMILIH NASI GORENG")
  case 2:
    print("ANDA MEMILIH MIE AYAM")
  case 3:
    print("ANDA MELIH SOTO AYAM")
  case _:
    print("MENU TIDAK TERSEDIA")

pilih menu (1-3) = 7
MENU TIDAK TERSEDIA

Studi Kasus Nyata - Program Penentuan Diskon

In [3]:
barang = input("masukkan nama barang= ")
harga = float(input("masukkan harga barang= "))
jumlah = int(input("masukkan jumlah barang= "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== struk belanja =====")
print(f"barang : {barang}")
print(f"jumlah : {jumlah}")
print(f"total : Rp {total}")
print(f"diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

masukkan nama barang= odol
masukkan harga barang= 50000
masukkan jumlah barang= 6

===== struk belanja =====
barang : odol
jumlah : 6
total : Rp 300000.0
diskon : 10.0%
bayar : Rp 270000.0