<a href="https://colab.research.google.com/github/lianbelian/TUGAS-PAK-PRAYIT-ALGOPRO/blob/main/praktikum%2007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 – Tuple: Data Tetap

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Praktikum 02 – Dictionary Dasar

In [2]:
mahasiswa = {
    "nama": "andi",
    "nim": "20251001",
    "prodi": "TRK"
}
print("Nama:", mahasiswa["nama"])
print("NIM:", mahasiswa["nim"])
print("Program Studi:", mahasiswa["prodi"])

Nama: andi
NIM: 20251001
Program Studi: TRK

Praktikum 03 – Operasi pada Dictionary

In [4]:
mahasiswa = {
    "nama": "andi",
    "nim": "20251001",
    "prodi": "TRK"
}

mahasiswa ["umur"] = 20
mahasiswa["prodi"] = "Teknik Komputer"
del mahasiswa["umur"]

print(mahasiswa)

{'nama': 'andi', 'nim': '20251001', 'prodi': 'Teknik Komputer'}

Praktikum 04 – Set dan Operasi Himpunan

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", B - A)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {5, 6}

Praktikum 05 – Studi Kasus: Mata Kuliah

In [7]:
mhs1={"Algoritma","Matematika","Bahasa Inggris"}
mhs2={"Algoritma","Basis Data","Matematika"}

print("Mata kuliah Mhs1 = ", mhs1)
print("Mata kuliah Mhs2 = ", mhs2)
print("Mata kuliah yang sama = ", mhs1 & mhs2)

Mata kuliah Mhs1 =  {'Algoritma', 'Bahasa Inggris', 'Matematika'}
Mata kuliah Mhs2 =  {'Basis Data', 'Algoritma', 'Matematika'}
Mata kuliah yang sama =  {'Matematika', 'Algoritma'}

Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai

In [9]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Dari {len(nilai_mahasiswa)} Mahasiswa tersebut memiliki rata-rata {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Dari 3 Mahasiswa tersebut memiliki rata-rata 81.67