<a href="https://colab.research.google.com/github/lianbelian/TUGAS-PAK-PRAYIT-ALGOPRO/blob/main/Praktikum%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For dengan Range

In [2]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

While (Hitung Mundur)

In [4]:
n = int(input("masukkan angka= "))
while n > 0:
  print(n)
  n -= 1

masukkan angka= 5
5
4
3
2
1

Nested Loop (Segitiga Bintang)

In [6]:
for i in range(1, 6) :
      for j in range(i) :
        print("*", end="")
      print()

*
**
***
****
*****

Break & Continue

- Break

In [11]:
for i in range(1, 14) :
  print(i)
  if i == 10:
      print("angka 10 ditemukan")
      break

1
2
3
4
5
6
7
8
9
10
angka 10 ditemukan

- Continue

In [9]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

For pada Dictionary

In [14]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

For dengan Enumerate

In [17]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
    print(i, nama)

1 Andi
2 Budi
3 Cici

Kasir Multi-Item

In [19]:
total = 0

while True:
  barang = input("masukkan nama barang (ketik 'selesai' untuk berhenti) = ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"masukkan harga {barang} = "))
  jumlah = int(input(f"masukkan jumlah {barang} = "))
  subtotal = harga * jumlah
  total += subtotal

print("\n=======Struk Belanja========")
print(f"total belanja : Rp {total}")

masukkan nama barang (ketik 'selesai' untuk berhenti) = buku
masukkan harga buku = 50000
masukkan jumlah buku = 2
masukkan nama barang (ketik 'selesai' untuk berhenti) = pulpen
masukkan harga pulpen = 5000
masukkan jumlah pulpen = 3
masukkan nama barang (ketik 'selesai' untuk berhenti) = selesai

=======Struk Belanja========
total belanja : Rp 115000.0

**PENUGASAN**

- Menampilkan Deret Angka

In [22]:
for i in range(3, 33, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

- Hitung Faktorial

In [29]:
a = int(input("masukkan angka yang ingin yang ingin dicari faktorialnya = "))
faktorial = 1
x = 1

while x <= a:
  faktorial *= x
  x += 1
print(f"faktorial dari {a} adalah {faktorial}")

masukkan angka yang ingin yang ingin dicari faktorialnya = 5
faktorial dari 5 adalah 120

- Pola Segitiga Terbalik

In [30]:
for i in range(5, 0, -1) :
      for j in range(i) :
        print("*", end="")
      print()

*****
****
***
**
*

- Cari Bilangan Prima dengan Break

In [35]:
bilangan = int(input("Masukkan sebuah bilangan: "))

if bilangan > 1:
    for i in range(2, bilangan):
        if bilangan % i == 0:
            print(bilangan, "bukan bilangan prima (habis dibagi", i, ")")
            break
    else:
        print(bilangan, "adalah bilangan prima")
else:
    print(bilangan, "bukan bilangan prima (harus lebih dari 1)")

Masukkan sebuah bilangan: 7
7 adalah bilangan prima

- Tampilkan Hanya Bilangan Genap dengan Continue

In [38]:
for i in  range(1, 21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

- Iterasi Dictionary Mahasiswa

In [39]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

- Enumerate Daftar Barang

In [40]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
    print(i, nama)

1 Buku
2 Pulpen
3 Tas

- Studi Kasus - Kasir Diskon

In [43]:
total = 0

while True:
  barang = input("masukkan nama barang (ketik 'selesai' untuk berhenti) = ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"masukkan harga {barang} = "))
  jumlah = int(input(f"masukkan jumlah {barang} = "))
  subtotal = harga * jumlah
  total += subtotal
  if total >= 200000:
    diskon = total * 0.1
  else:
    diskon = 0
  total_diskon = total - diskon

print("\n=======Struk Belanja========")
print(f"total belanja : Rp {total_diskon}")
print(f"anda mendapatkan diskon sebesar Rp {diskon}")

masukkan nama barang (ketik 'selesai' untuk berhenti) = minyak
masukkan harga minyak = 30000
masukkan jumlah minyak = 4
masukkan nama barang (ketik 'selesai' untuk berhenti) = tepung
masukkan harga tepung = 15000
masukkan jumlah tepung = 10
masukkan nama barang (ketik 'selesai' untuk berhenti) = mentega
masukkan harga mentega = 10000
masukkan jumlah mentega = 5
masukkan nama barang (ketik 'selesai' untuk berhenti) = selesai

=======Struk Belanja========
total belanja : Rp 288000.0
anda mendapatkan diskon sebesar Rp 32000.0