<a href="https://colab.research.google.com/github/lianbelian/TUGAS-PAK-PRAYIT-ALGOPRO/blob/main/praktikum2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pengenalan Variabel dan Tipe Data

In [1]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'olahraga', 'musik'} → <class 'set'>

Input & Output Dasar (variasi format)

In [4]:
# Input string
nama = input("Masukkan nama anda = ")

# Input integer
umur = input("Masukkan umur anda = ")

# Input float
tinggi = input("Masukkan tinggi badan (cm) = ")

# Output standar
print("halo,", nama, "umur anda = ", umur, "tahun, tinggi =", tinggi, "cm")

# Output dengan format()
print("halo {0}, umur anda {1} tahun , tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"halo {nama}, umur anda {umur} tahun, tinggi {tinggi} cm" )

Masukkan nama anda = lian
Masukkan umur anda = 18
Masukkan tinggi badan (cm) = 170
halo, lian umur anda =  18 tahun, tinggi = 170 cm
halo lian, umur anda 18 tahun , tinggi 170 cm
halo lian, umur anda 18 tahun, tinggi 170 cm

Operator Aritmatika

In [7]:
a = 15
b = 4

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a // b = ", a // b)
print("a % b = ", a % b)
print("a ** b = ", a ** b)
print("Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif.")

a + b =  19
a - b =  11
a * b =  60
a / b =  3.75
a // b =  3
a % b =  3
a ** b =  50625
Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif.

Operator Relasional

In [8]:
x = 10
y = 20

print("x == y =", x == y)
print("x != y =", x != y)
print("x < y =", x < y)
print("x > y =", x > y)
print("x <= y =", x <= y)
print("x >= y =", x >= y)
print("Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian ≥ 60, atau apakah kehadiran mahasiswa memenuhi batas minimal.")

x == y = False
x != y = True
x < y = True
x > y = False
x <= y = True
x >= y = False
Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian ≥ 60, atau apakah kehadiran mahasiswa memenuhi batas minimal.

Operator Logika (dasar + studi kasus kelulusan)

In [14]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a=", not a)

# Studi kasus nyata = kelulusan
nilai = int(input("masukkan nilai ujian= "))
hadir = int(input("masukkan jumlah kehadiran= "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("status : LULUS")
else:
    print("status : TIDAK LULUS")

a and b = False
a or b = True
not a= False
masukkan nilai ujian= 70
masukkan jumlah kehadiran= 12
status : LULUS

Program Kasir Sederhana

In [16]:
barang = input("masukkan nama barang= ")
harga = float(input("masukkan harga barang= "))
jumlah = int(input("masukkan jumlah barang= "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== struk belanja =====")
print(f"barang : {barang}")
print(f"jumlah : {jumlah}")
print(f"total : Rp {total}")
print(f"diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

masukkan nama barang= sabun mandi cair 1,5 liter
masukkan harga barang= 70000
masukkan jumlah barang= 15

===== struk belanja =====
barang : sabun mandi cair 1,5 liter
jumlah : 15
total : Rp 1050000.0
diskon : 20.0%
bayar : Rp 840000.0