<a href="https://colab.research.google.com/github/lianbelian/TUGAS-PAK-PRAYIT-ALGOPRO/blob/main/praktikum%2006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["andi", "budi", "cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])
print(mahasiswa[-1])

andi
budi
cici
cici

Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

Praktikum 03 – Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Praktikum 04 – List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][2])
print(matriks[1][0])
print(matriks[2])

3
4
[7, 8, 9]

Praktikum 05 – Operasi pada List 2D

In [ ]:
a = [[1, 2, 3], [4, 5, 6]]
b = [[7, 8, 9], [10, 11, 12]]
c = []

for i in range(len(a[0])) :
    baris = []
    for j in range(len(a[0])) :
        baris.append(a[i][j] + b[i][j])
    c.append(baris)
print(c)

[[8, 10, 12], [14, 16, 18]]

Praktikum 06 – Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
    ]
for i, baris in enumerate (nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i} adalah {rata:.2f}")

Rata-rata nilai mahasiswa 1 adalah 85.00
Rata-rata nilai mahasiswa 2 adalah 75.00
Rata-rata nilai mahasiswa 3 adalah 88.00

**PENUGASAN**

- Akses Elemen List

In [1]:
mahasiswa = ["AGUNG", "SINTA", "ARNOLD", "SETYO", "ZALFA"]
print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[1])

AGUNG
ZALFA
SINTA

- Operasi Dasar List

In [4]:
NILAI = [70, 75, 80]
NILAI[2] = 85
NILAI.append(90)
NILAI.remove(70)
print(NILAI)

[75, 85, 90]

- Slicing List

In [6]:
ANGKA = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(ANGKA[0:3])
print(ANGKA[6:])

GENAP = [i for i in ANGKA if i % 2 == 0]
print(GENAP)

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]